# 環境変数ファイル
.env
.env.local
.env.*.local

# Node modules
node_modules/
package-lock.json
yarn.lock

# ローカルのログファイル
*.log
npm-debug.log*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
